<%- include ('./partials/messages') %>
<%- include('left_sidebar'); %>
<div class="content">
  <div class="ks-nav-body-wrapper">
    <div class="container-fluid">
      <h1>Register</h1>
<form action="/users/register" method="POST">
<div>
    <label for="name">Name</label>
    <input
      type="name"
      name="name"
      placeholder="Enter Name"
      value="<%= typeof name != 'undefined' ? name : '' %>"
      class="form-control"
    />
  
</div>
<div>
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      placeholder="Enter Email"
      value="<%= typeof email != 'undefined' ? email : '' %>"
      class="form-control"
    />
  </div>
  <div >
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      placeholder="Create Password"
      value="<%= typeof password != 'undefined' ? password : '' %>"
      class="form-control"
    />
  </div>
  <div >
    <label for="password2">Confirm Password</label>
    <input
      type="password"
      name="password2"
      placeholder="Confirm Password"
      value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
      class="form-control"
    />
  </div>
  <button type="submit" class="btn btn-default">
    Register
  </button>
</form>
</div>
</div>
</div>