<%- include('../left_sidebar'); %>
  
  <div class="content">
    <form action="/orders/edit/<%=order._id%>" method="POST" enctype="multipart/form-data">
                
      <label for="cooler">Cooler Present *</label>
      <div class="form-check">
          <input type="radio" class="form-check-input" id="radio1" name="cooler" value=1 
          
          <%=order.cooler==1 ? 'checked':'' %>
          
          >Yes
          <label class="form-check-label" for="radio1"></label>
        </div>
        <div class="form-check">
          <input type="radio" class="form-check-input" id="radio2" name="cooler" value=0  <%=order.cooler==0 ? 'checked':'' %>>No
          <label class="form-check-label" for="radio2"></label>
        </div>
       
        <label for="category">Category *</label>
        <div class="form-check">
        <select name="category" class="selectpicker">
            <option>Select Category</option>
            <option value="1"  <%=order.category==1 ? 'selected':'' %>>Eatable</option>
            <option value="2" <%=order.category==2 ? 'selected':'' %>>Drinkable</option>
            <option value="3" <%=order.category==3 ? 'selected':'' %>>Medicine</option>
          </select>
        </div>

        <label for="driver">Driver Details*</label>

      <div class="form-check">       
          <input type="checkbox" class="form-check-input" id="check1" name="licence" value="1" <%=order.licence==1 ? 'checked':'' %>>
          <label class="form-check-label" for="check1">Licence Present</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="check2" name="driver_number" value="1" <%=order.driver_number==1 ? 'checked':'' %>>
          <label class="form-check-label" for="check2">Driver Number Active</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="vehicle_rc" value="1" <%=order.vehicle_rc==1 ? 'checked':'' %>>
          <label class="form-check-label">Vehicle RC Book Present</label>
        </div>


        <label for="email">Note</label>
        <div class="form-check">
          
            <textarea id="w3review" name="note" rows="2" cols="50"><%=order.note%></textarea>
        </div>

        <label for="email">Attach *</label>
        <img src="../../images/uploads/<%=order.image_path%>" width="50px" />
        <div class="form-check">
          <input type="file" id="order_file" name="order_file">
        </div>
        <br />
        <button type="submit" class="btn btn-default">Create Order</button>
      </form>
  </div>

  <style>
    body {
      margin: 0;
      font-family: "Lato", sans-serif;
    }
    
    .sidebar {
      margin: 0;
      padding: 0;
      width: 200px;
      background-color: #f1f1f1;
      position: fixed;
      height: 100%;
      overflow: auto;
    }
    
    .sidebar a {
      display: block;
      color: black;
      padding: 16px;
      text-decoration: none;
    }
     
    .sidebar a.active {
      background-color: #04AA6D;
      color: white;
    }
    
    .sidebar a:hover:not(.active) {
      background-color: #555;
      color: white;
    }
    
    div.content {
      margin-left: 200px;
      padding: 1px 16px;
      height: 1000px;
    }
    
    @media screen and (max-width: 700px) {
      .sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }
      .sidebar a {float: left;}
      div.content {margin-left: 0;}
    }
    
    @media screen and (max-width: 400px) {
      .sidebar a {
        text-align: center;
        float: none;
      }
    }
    </style>
